.topleft{
    min-height: 150px;
    padding: 0px;
}
.topright{
    min-height: 150px;
    background: linear-gradient(cyan,gray);
}
/* //heading  */
#p2{
    color: red;
    font-size: 70px;
    text-align: center;
}
a{
    font-size: 30px;
}
.leftbox{
    min-height: 500px;
    background: cyan;
}
.rightbox{
    min-height: 500px;
    background-image: url('laptop1.png');
    background-size: cover;

}
#para2{
    color: red;
    font-size: 40px;
}
#dt{
    color: green;
    font-size: 40px;
    text-align: center;
}
.box{
    min-height: 80px;
    background: gold;
}
#p1{
    color: red;
    text-align: center;
    font-size: 50px;
}
.box1{
    min-height: 300px;
    border: 2px solid green;
    padding: 0px;
}
.box2{
    min-height: 300px;
    border: 2px solid green;
    background-image: url('d.jpg');
}
.box4{
    min-height: 400px;
    border: 4px solid red;
}
#txt{
    color: green;
    font-size: 30px;
    text-align: justify;
}
.footer{
    min-height: 400px;
    background: gray;
}